---
import { albums } from '../data/albums.js';
---

<section class="discography">
  <div class="container">
    <h2 class="discography__title">DISCOGRAPHY</h2>

    <div class="discography__grid">
      {albums.map((album) => (
        <article class="album-card">
          <a href={`/listen/${album.slug}`} class="album-card__link">
            <div class="album-card__cover">
              <img src={album.cover} alt={`${album.title} album cover`} />
              <div class="album-card__overlay">
                <span class="album-card__cta">LISTEN</span>
              </div>
            </div>
            <div class="album-card__info">
              <h3 class="album-card__title">{album.title}</h3>
              <p class="album-card__year">{album.year}</p>
            </div>
          </a>
        </article>
      ))}
    </div>
  </div>
</section>
